:root {
  --primary-text-color: #2E2F42;
  --text-color: #434455;
  --accent-color: #4D5AE5;
  --primary-white-color: #FFFFFF;
}



.body {
    background-color:var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
}
.list {
    list-style: none;
}
/* Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--primary-text-color);
    }
.logo-prefix {
    color: var(--accent-color);
}    
.site-nav-item{
    font-weight: 600;
    text-decoration:none;
    color:var(--primary-text-color);
}
.header-contacts-item {
    text-decoration:none;
    color:var(--text-color);
    font-weight: 400;
}

.site-nav-item:hover, .site-nav-item:focus, .header-contacts-item:hover, .header-contacts-item:focus {
    color: var(--text-color);
}
.site-nav-item.current {
    color:var(--accent-color);
}
/* Hero */
.hero {
    background:var(--primary-text-color) 
}
/* hero title */
.hero-title {
    color: var(--primary-white-color);
    font-weight: 600;
    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
}
/* button */
.button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.04em;

}
/* .button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    }
.button.secondary {
    background-color: var(--primary-white-color);
    color: var(--accent-color);
} */

.button:hover, .button:focus {
    background: var(--accent-color);
}
.button:active {
    background: #404BBF;
}
/* Sections */
.section-title {
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    text-transform: capitalize;
}
.list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
}
/* list text */
.list-text {
    color: var(--text-color);
    font-weight: 400;
}
/* Footer */
.footer {
    background: var(--primary-text-color);
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer-logo-prefix {
    color: var(--accent-color);
}
/* footer text */
.footer-text {
   color: #E7E9FC;
   font-weight: 400;
}


/* ===============PORTFOLIO================= */
.filter-button {
   background-color: #F4F4FD; 
   color: var(--accent-color);
   cursor: pointer;
   font-family: inherit;
   font-weight: 600;
   font-size: 16px;
   line-height: calc(24/16);
   letter-spacing: 0.04em;
    
}
.filter-button:hover, .filter-button:focus {
    background-color: var(--accent-color); 
    color: var(--primary-white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em; 
}
.work-link{
    text-decoration: none;
    color: var(--primary-text-color);
}
.card-content {
    color: #F4F4FD;
    font-weight: 400;
}